
@media screen and (max-width: 1200px) {
  
}
///
@media screen and (max-width: 992px) {
  
}
///
@media screen and (max-width: 768px) {
  .wrap-repos-link{
    margin-bottom: 10px;
  }
}
///
@media screen and (max-width: 576px) {
  html{
    font-size: 0.89rem;
    .badge{
      margin-bottom: 10px;
    }
    .wrap-repos-link{
      margin-bottom: 10px;
    }
  }
}

