@import 'helpers/vars.scss';
@import 'helpers/mixin.scss';
@import 'helpers/fonts.scss';

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*start dev*/
.wrap-repos-link{
  a{
    text-decoration: none;
    transition: all 0.5s;
    &:hover{
      font-size: 1.2rem;
      transition: all 0.5s;
    }
  }
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import 'helpers/media.scss';
